1. What are data structures, and why are they important?
-  formats to hold and organize data. The most commonly used built-in data structures in Python include.
- Ex- List, Tuple, set, Dictionary.
- Efficient Data Management, Simplified Problem Solving, Memory Optimization, Real-world Modeling, Foundation for Algorithms.

- Ex-

In [1]:
# Dictionary to count word frequencies
text = "apple banana apple orange"
words = text.split()
freq = {}

for word in words:
    freq[word] = freq.get(word, 0) + 1
print(freq)

{'apple': 2, 'banana': 1, 'orange': 1}

2.  Explain the difference between mutable and immutable data types with examples.

- Mutable Data Types:
  - Can be changed after creation
  - Modifying the object does not change its identity.

- EX:

In [2]:
my_list = [1, 2, 3]
my_list[0] = 100
print(my_list)

[100, 2, 3]

- Immutable Data Types:
  - Cannot be changed after creation.
  - Any operation that seems to "modify" creates a new object in memory.

  - EX:

In [5]:
my_tuple = (1, 2, 3)
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
- Lists and tuples are both used to store sequences of items in Python, but they differ significantly in their properties and use cases.
- List: are mutable, meaning their contents can be changed after creation. can add, remove, or modify elements within a list.
- Tuples: are immutable, meaning their contents cannot be changed after creation. Once a tuple is created, its elements cannot be added, removed, or modified.

4. Describe how dictionaries store data.
- In Python, a dictionary stores data in the form of key-value pairs. It works like a real-world dictionary, where you look up a word (key) to find its definition (value).

- Ex:

In [8]:
my_dict = {
    "name": "Partha",
    "age": 25,
    "city": "Kolkata"
}
print(my_dict["name"])

Partha

5. Why might you use a set instead of a list in Python?

- Sets automatically remove duplicates, while lists keep them.
- Checking if an item exists in a set is much faster than in a list .
- Sets support union, intersection, difference, which are great for comparing data.

6. What is a string in Python, and how is it different from a list?

-A string in Python is a collection of characters (like letters or numbers) inside quotes.

- A list is a collection of items inside square brackets. The items can be anything — numbers, words, even other lists.

7. How do tuples ensure data integrity in Python?

- Tuples ensure data integrity because they can’t be changed after they’re created.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs.
- EX:

In [11]:
person = {"name": "Partha", "age": 31}
print(person["age"])   # Fast lookup using hash table

31

9. Can lists contain different data types in Python?
- Yes, lists in Python can contain different data types.

10. Explain why strings are immutable in Python?
- Strings are immutable in Python, which means I can’t change them once they’re created.

In [14]:
name = "Partha"
name[0] = "M"

TypeError: 'str' object does not support item assignment

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are better than lists when you need to store and access data using a key — not just a position.

12. Describe a scenario where using a tuple would be preferable over a list?
- Use a tuple instead of a list when you want your data to be unchangeable meaning it should stay fixed.

In [15]:
location = (22.5726, 88.3639)  # Kolkata

13. How do sets handle duplicate values in Python?

- Sets in Python automatically remove duplicate values.

In [16]:
my_set = {1, 2, 2, 3, 4, 4, 4}
print(my_set)

{1, 2, 3, 4}

14. How does the “in” keyword work differently for lists and dictionaries?
- The in keyword checks if something exists in a list or dictionary — but it works differently for each.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple in Python.
- Because tuples are immutable — which means once created, their contents can’t be changed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary — used to store complex data.

In [18]:
students = {
    "student1": {"name": "Partha", "age": 31, "city": "Kolkata"},
    "student2": {"name": "Indu", "age": 25, "city": "Delhi"}
}
print(students["student1"]["city"])

Kolkata

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary is usually very fast — it takes constant time.

In [19]:
person = {"name": "Partha", "age": 25}
print(person["age"])

25

18. In what situations are lists preferred over dictionaries?
- should use a list instead of a dictionary when Order Matters, Need Values, Need to Frequently Add or Remove Items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries in Python are considered unordered because, before Python 3.7, they didn’t keep the order in which you added items.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-Lists and dictionaries are both used to store data, but the way retrieve data from them is different.
 - List - Access by position
 - Dictionary → Access by key

**# Practical**

1. Write a code to create a string with your name and print it?

In [20]:
my_name = "Partha"
print(my_name)

Partha

2. Write a code to find the length of the string "Hello World".

In [21]:
text = "Hello World"
length = len(text)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [22]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [25]:
text = "hello"
text.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [30]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [31]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [32]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [34]:
lst1 = [1, 2, 3, 4, 5]
lst1.remove(3)
print(lst1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [36]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [37]:
lst4 = [10, 20, 30, 40, 50]
lst4[::-1]

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [38]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [39]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[1:4]
print(second_last)

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [40]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [41]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [42]:
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [43]:
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [45]:
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [46]:
letters = {1, 2, 3, 4}
letters.remove(4)
print(letters)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [47]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [48]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [49]:
person = {
    "name": "Partha",
    "age": 25,
    "city": "Kolkata"
}
print(person)

{'name': 'Partha', 'age': 25, 'city': 'Kolkata'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [50]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [57]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [58]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [60]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [61]:
my_list = [1, 2, 3, 4]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Partha', 'age': 25}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Partha', 'age': 25}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [63]:
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [2, 29, 72, 95, 100]

28. Write a code to create a list with strings and print the element at the third index.

In [64]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", words[3])

Element at third index: date